{
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx"],
        "root": ["./src"],
        "alias": {
          "root": "src",
          "src": "src"
        }
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}